{{#partial "contenido"}}

<form method="POST" action="/login">
	<div> Usuario <input type="text" name="usuario"/>  </div> 
	<div> Password <input type="text" name="password"/>  </div> 
  <input type="submit" value="Ingresar">
</form>

{{/partial}}

{{>layout.hbs}}
